.WholesalesButton{
    width: 300px;
    height: 60px;
    background-color: #fb5437; 
    color: #ffffff;
    border: 1px solid #eb4426;
    border-radius: 30px;
    cursor: pointer;
    font-size: 35px;
    font-family: "Annie Use Your Telescope", cursive;
    font-weight: 800;
    background: linear-gradient(to bottom, rgba(0,0,0,.15), rgba(0,0,0,0) 20px),
    #fb5437;
}

.WholesalesButton:hover{
    background-color: #a32e19; 
}

.WholesalesButtonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 30vh;
    text-align: center;
    gap: 10%;
}